html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    background-color: rgb(173, 173, 173);
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}

#day, #month, #time, #date {
    font-weight: bolder;
}

#container {
    background-color: rgb(235, 235, 235);
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border-top: 1rem solid rgb(211, 2, 2);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem -1rem rgba(0,0,0,0.75);
}

@media screen and (max-width: 500px) {
    #container {
      width: 15rem;
    }
  }