body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: grey;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}

#day, #month, #time, #date {
    font-weight: bolder;
}